@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-primary : #7380EC;
    --color-danger : #FF7782;
    --color-success : #41F1B6;
    --color-warning  : #FFBB55;
    --color-white  : #FFF;
    --color-info-dark : #7d8da1;
    --color-info-light : #dce1eb;
    --color-dark : #363949;
    --color-light : rgba(132, 139, 200, 0.18);
    --color-primary-variant : #111e88;
    --color-background : #f6f6f9;

    --card-border-radius : 2rem;
    --border-radius-1 : 0.4rem;
    --border-radius-2 : 0.8rem;
    --border-radius-3 : 1.2rem;

    --card-padding : 1.8rem;
    --padding-1 : 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

}

.font-jakarta{
    font-family: "Plus Jakarta Sans", sans-serif;
}

html {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body .layoutAdmin{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}
aside{
    height: 100vh;
    animation: showMenu 400ms ease forwards;
}

.sidebarclient{
    animation: showMenu 400ms ease forwards;
}
h3{
    font-weight: 600;
}
.sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
.sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
.sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}
.sidebar a:hover span{
    margin-left: 1rem;
}

.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3dbcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

@keyframes showMenu {
    to{
        left : 0
    }
}

/*///////////*/

.font-great{
    font-family: "Great Vibes", cursive;
}

.font-lato{
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
    /* < 1280 => mobile view */
    @apply max-w-none px-4;
    /* >= 1280 => desktop view */
    @apply xl:max-w-[1170px] xl:px-0;
    @apply transition-all ease-in-out;
}


.fixed-menu{
    position: fixed;
    top: 0;
}

.offer:hover .offer-button a{
    border: 2px solid #c14679;
    padding: 5px 15px;
}
.offer:hover .offer-button a button{
    border: none;
    color: #c14679;
}


.gallery .el-tabs__nav{
    justify-content: center;
    float: none;
}
.gallery  .el-tabs__item{
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 600;
}

.gallery .el-tabs__item.is-active, .gallery .el-tabs__item:hover{
    color: #c14679;
}

.gallery .el-tabs__active-bar{
    background: #c14679;
    height: 4px;
    border-radius: 6px;
}

.el-tabs__nav-wrap:after{
    display: none;
}

.filter-shop .el-slider__bar,
.filter-shop .el-slider__button{
    background: #c14679;
    border: none;
}
.filter-shop .el-slider__button{
    height: 15px;
    width: 15px;
}
.filter-shop .el-checkbox.el-checkbox--large{
    gap: 8px;
}
.filter-shop .el-checkbox.el-checkbox--large .el-checkbox__inner{
    height: 20px;
    width: 20px;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
}

.product:hover .product-icon{
    opacity: 1;
    transform: none;
    transition-duration: .3s;
    transition-delay: .25s;
}

.product:hover .product-more{
    top: -18px;
    bottom: -60px;
    color: #fff;
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.09);
}

.product:hover .product-more-shop{
    top: -18px;
    bottom: -60px;
    color: #fff;
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.09);
    background: #fff;
}

.galleery-header:hover .navbar{
    opacity: 1;
    visibility: visible;
}

.checkout input[type="checkbox"]:checked + .details {
    height: 100%;
    max-height: 100%;
    opacity: 1;
}

.cart-inline{
    position: absolute;
    text-align: left;
    right: -18px;
    top: calc(100% + 30px);
    min-width: 400px;
    margin-top: 30px;
    background: #ffffff;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    filter: drop-shadow(0 0 3px rgba(1, 3, 4, 0.19));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease-in-out;
    z-index: 1082;
}
.cart-inline::before {
    position: absolute;
    content: '';
    bottom: calc(100% - 10px);
    right: 40px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 34px 34px;
    border-color: transparent transparent #ffffff transparent;
}
.cart-inline.active {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.desciption-create-product .el-form-item__content{
    display: block;
}
.el-pagination{
    justify-content: center;
    padding: 50px 0;
}
.el-pagination.is-background .el-pager li.is-active{
    background: #c14679 !important;
}

@media (max-width : 1024px) {
    .sale:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
        display: block;
    }
}

.product table tbody tr:last-child td{
    border: none;
}

@media (max-width: 768px) {
    .responsive-form .el-form-item__label-wrap{
        margin-left: 0 !important;
    }
    .responsive-form .el-form-item {
        display: flex;
        flex-direction: column; /* Mặc định: label trên input */
    }
}


